<!DOCTYPE html>
<html>
<head>
  <title>AwesomeBeer</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h1>Awesome Currency Exchange! Good Luck of being a Millionaire!!!
  </h1>
  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
