<form>
  <select name="Select Base Currency" id="currencySelect">
    <option value="USD">USD</option>
    <option value="CNY">CNY</option>
    <option value="AUD">AUD</option>
    <option value="EUR">EUR</option>
  </select>
  <input type="submit" value="Submit">
</form>

<table></table>
